<p class="path">Habit Tracker / <%= title %></p>

<section class="home-hab">
    <h1>Habit Tracker</h1>
    <p>Keep track of your habits with this interactive habit tracker. Stay motivated and achieve your goals!</p>
    
    <h2>Features:</h2>
    <ul id="home-ul">
        <li>- Easy-to-use interface</li>
        <li>- Track multiple habits simultaneously</li>
        <li>- Set reminders and notifications</li>
    </ul>
    
    <h2>How to Use:</h2>
    <ol>
        <li>- Create an account or log in to your existing account</li>
        <li>- Add your desired habits to track</li>
        <li>- Mark each habit as completed daily</li>
        <li>- View your progress and statistics</li>
        <li>- Celebrate your achievements!</li>
    </ol>
    <br>
    <div>Start tracking your habits today and make positive changes in your life!</div>
</section>