* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

nav {
  background: #00dbe6;
  height: 80px;
  width: 100%;
  overflow: hidden;
}

label.logo {
  color: white;
  font-size: 25px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}

nav ul {
  float: right;
  margin-right: 20px;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a {
  color: white;
  font-size: 13px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}

a.active,
a:hover {
  background: #02a4c9;
  transition: .5s;
}

.checkbtn {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

select {
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
}

select:focus {
  outline: none;
}

select:hover {
  cursor: pointer;
}

.path {
  padding: 1rem;
}

.home-hab {
  width: 100%;
  margin: 0 1%;
}

.home-hab .home-ul {
  list-style-type: disc !important;
            margin-left: 20px;
}

form .act-name input {
  height: 2rem;
  width: 24%;
  outline: none;
  padding-left: 10px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  font-size: 16px;
  transition: all 0.3s ease;
}

form .act-name input:focus {
  border-color: rgb(21, 228, 255);
  box-shadow: inset 0px 0px 2px 2px rgba(26, 188, 156, 0.25);
}

form .act-name input::placeholder {
  color: #999;
}

form .act-button input {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  background: #16a085;
  border: 3px solid #16a085;
  cursor: pointer;
  border-radius: 6px;
  padding: 0 10px;
  margin: 0 0 0 0.3rem;
}

form .act-button input:hover {
  background: #12876f;
  border: 3px solid #12876f;
}

.curr-act {
  width: 100%;
  margin: 0 36%;
}

.curr-act-tab {
  width: 100%;
  margin: 0 8%;
  margin-top: 1.3rem;
}

.curr-act-tab table tbody tr td {
  padding: 4px 6px;
}

.curr-act-tab table tbody tr:hover {
  background-color: #d6ecee;
  cursor: pointer;
}

#act-name {
  font-size: 21px;
  font-family: cursive;
  text-transform: capitalize;
  padding-left: 1rem;
}

.week-act-tab {
  overflow: auto;
}

.week-act-tab table tbody tr td {
  padding: 8px 3rem;
}

.week-act-tab table tbody tr td:hover {
  background-color: #d6ecee;
  cursor: pointer;
}

@media (max-width: 952px) {
  label.logo {
    font-size: 30px;
    padding-left: 50px;
  }

  nav ul li a {
    font-size: 16px;
  }
}

@media (max-width: 858px) {
  .checkbtn {
    display: block;
  }

  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }

  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }

  nav ul li a {
    font-size: 20px;
  }

  a:hover,
  a.active {
    background: none;
    color: #0082e6;
  }

  #check:checked~ul {
    left: 0;
  }
}

section {
  background: url(bg1.jpg) no-repeat;
  background-size: cover;
  height: calc(100vh - 80px);
}